.container {
  background-color: var(--colors-todos);
  border-radius: 0.3rem;
  box-shadow: 0 0 0.5rem var(--colors-shadow);

  .todosList {
    color: var(--colors-todoTitle);
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: var(--fw-bold);
  }

  .emptyList {
    text-align: center;
    color: var(--colors-noTodos);
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--colors-control);
    font-size: 0.875rem;
    flex: 1;

    .itemsLeft {
      display: flex;
      padding-left: 1.25rem;

      @media (max-width: 768px) {
        padding-bottom: 3.125rem;
      }
    }

    .controlsButtons {
      display: flex;
      list-style: none;
      gap: 1rem;
      padding: 0;

      .all {
        color: var(--colors-control-active);
      }

      .active {
        color: var(--colors-control-active);
      }

      .completed {
        color: var(--colors-control-active);
      }

      li {
        cursor: pointer;
        font-weight: var(--fw-bold);

        &:hover {
          color: var(--colors-control-hover);
        }
      }

      @media (max-width: 768px) {
        padding: 6.25rem 0 0 1.25rem;
      }
    }

    .clearButton {
      background: none;
      border: none;
      cursor: pointer;
      padding-right: 1.25rem;
      color: var(--colors-control);

      &:hover {
        color: var(--colors-control-hover);
      }

      @media (max-width: 768px) {
        padding: 0 0.625rem 3.125rem 0  ;
      }
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
