@mixin styledButton() {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

}

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}