@import "../../App/mixins.scss";

.themeSwitcher {
  background: none;
  border: none;
  cursor: pointer;
  outline: none
}

.container {
  @include flex();
  justify-content: space-between;

  .title {
    letter-spacing: 10px;
    color: var(--colors-title);
  }
}
