.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  .wrapper {
    display: flex;
    flex-direction: column;
    // width: 31.25rem;
    width: 33%;

    @media (max-width: 768px) {
      width: 90%;
    }
  }

  .drag {
    padding-top: 5.875rem;
    color: var(--colors-drag);
  }
}
